<main>
  <div>
    <h1>HTTP Interceptor</h1>
    <div>
      <p>Click here to send an Http request that passes through an HTTP interceptor and a caching interceptor.</p>
      <p>The HTTP interceptor appends an <b>Authorization</b> header.</p>
      <p>The caching interceptor stores cached responses in indexedDB. A response expires in 3 minutes.
        (See the Network tab in Developer Tools.)</p>
      <button (click)="sendViaInterceptor()">
        Send
      </button>
      <app-header-list [headers]="customHeaders$"></app-header-list>
    </div>

    <div class="m-t-l">
      <p>Click here to send an Http request that bypasses the interceptor.</p>
      <button (click)="sendBypassingInterceptor()">
        Send
      </button>
      <app-header-list [headers]="regularHeaders$"></app-header-list>
    </div>
  </div>

  <div>
    <h1>Error Handler</h1>
    <p>The default implementation of Angular's ErrorHandler prints error messages to the console.</p>
    <p>A custom handler intercepts error handling and sends an error to the backend server. Open the DevTools and
    click the Network tab to see the request that is sent from the error handler.</p>
    <button (click)="simulateError()">Generate an error</button>
  </div>

  <div>
    <h1>Error HTTP Interceptor</h1>
    <p>Error interceptor captures client-side and server-side errors.</p>
    <button (click)="simulateError()">Generate an error</button>
  </div>

  <router-outlet></router-outlet>
</main>

